.error-message {
  color: #d80000;
  margin-left: 12px;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: white;
  &:hover {
    color: white;
  }
}
.page {
  .category-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .category-item {
    font-size: 13px;
    line-height: 1.30769231;
    border-radius: 5px;
    padding: 12px;
    overflow: auto;
    background-color: aquamarine;
    margin: 10px;
    justify-content: center;
    display: flex;
    height: 60px;
    align-items: center;
    &:hover {
      filter: brightness(0.8);
    }
    p {
      &:hover {
        filter: brightness(200%) !important;
      }
    }
  }

  @-webkit-keyframes fill {
    to {
      background-size: 100% 0;
    }
  }
  @keyframes fill {
    to {
      background-size: 0 100%;
    }
  }
  .cnh_holding {
    background: -webkit-linear-gradient(white, white) rgb(255, 215, 235)
      no-repeat 0 0;
    background: linear-gradient(white, white) rgb(255, 215, 235) no-repeat 0 0;
    mix-blend-mode: multiply;
    background-size: 100% 100%;
    -webkit-animation: fill 2s forwards;
    animation: fill 2s forwards;
  }

  .data-container {
    width: 95%;
    padding: 0.5%;
    border-bottom: 1px solid hsl(210, 8%, 90%);
    .pre-description {
      font-size: 13px;
      line-height: 1.30769231;
      color: hsl(210, 8%, 20%);
      background-color: hsl(0, 0%, 96.5%);
      border-radius: 5px;
      margin-top: 20px;
      padding: 12px;
      overflow: auto;
    }
    code {
      white-space: break-spaces;
    }
    .language-markup {
      background-color: #0c0c0c;
      border-radius: 5px;
      padding: 12px;
      margin: 10px;
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      img {
        padding: 0px 8px;
        width: 32px;
        height: 20px;
      }
    }
    .floating-notification {
      background-color: #d3f6d5;
      margin: 10px;
      padding: 12px;
      color: #0d884e;
      img {
        transform: translateY(-3px);
        padding-right: 10px;
        filter: invert(29%) sepia(59%) saturate(4481%) hue-rotate(144deg)
          brightness(90%) contrast(90%);
      }
    }
  }
  a {
    width: 25%;
  }
  .center-add {
    width: 95%;
  }
  .container {
    margin: 10px 0;
    .react-mde {
      border: 4px solid #858585 !important;
      border-radius: 10px !important;
    }
    .code-input {
      min-height: 80px;
      padding: 10px;
      width: 100%;
      border-radius: 10px;
      border: 4px solid #858585;
      margin: 10px 0 0;
    }
    .submit-clipBoard {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      span {
        height: 80px;
        background-color: rgb(46, 40, 40);
        width: calc(50% - 5px);
        padding: 1em 2em;
        transition: 0.25s;
        border-radius: 10px;
        color: white;
        font-size: 14px;
        align-items: center;
        justify-content: center;
        display: flex;
        cursor: pointer;
        &:hover {
          box-shadow: inset 0 0 0 3em #fdfafa;
          color: rgb(12, 12, 12);
          border: 4px solid #858585;
        }
      }
    }
    .float-always {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 80px;
      right: 30px;
      background-color: #0c9;
      color: #fff;
      border-radius: 50px;
      text-align: center;
      box-shadow: 2px 2px 3px #999;
      display: flex;
      cursor: pointer;
    }
  }
  .description-error {
    .react-mde {
      border: 4px solid #d80000 !important;
    }
  }
  .clip-board-option-s {
    margin-top: 5px;
    height: 22px;
    width: 100%;
  }
  .clip-board-option {
    width: 99%;
    button {
      float: right;
      outline: none;
      font-size: small;
      background: none;
      border: none;
      cursor: pointer;
      border-radius: 3px;
      margin-left: 5px;
    }
    .edit {
      background: #2199e8;
      color: #ffffff;

      &:hover {
        background: darken(#2199e8, 10%);
      }
    }

    .delete {
      background: #ec5840;
      color: #ffffff;

      &:hover {
        background: darken(#ec5840, 10%);
      }
    }
  }
}
